/**
 Main CSS file for Angular UI - TTL
**/

#ARCLogo {
    height: 40px;
    margin-top: -10px;
}

#reportTable th, #reportTable td{
    padding: 0 10px;
}

table#reportTable {
    margin: 20px 0;
}

a#downloadCSV {
    margin: 15px 0;
}